

.swiper{
    padding: 32px;
}


.swiper-slide{
    display: flex;
    justify-content: center;
}


.swiper-pagination-bullet-active{

    background-color: #718096;
}


.swiper-button-prev{
    color: #718096;
}


.swiper-button-next{
    color: #718096;
}